.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}


#SVG_container{
	position: absolute;
	height: 0;
	width: 0;
}

#SVG_container svg{
	position: absolute;
	height: 0;
	width: 0;
}

.icon-bag {
	font-size:(30/10)*1rem;
	width:(30/30)*1em;
}
.icon-bird {
	font-size:(40/10)*1rem;
	width:(40/40)*1em;
}
.icon-cart {
	font-size:(25/10)*1rem;
	width:(25/25)*1em;
}
.icon-cat {
	font-size:(40/10)*1rem;
	width:(40/40)*1em;
}
.icon-chart {
	font-size:(30/10)*1rem;
	width:(30/30)*1em;
}
.icon-check {
	font-size:(8/10)*1rem;
	width:(10/8)*1em;
}
.icon-check-1 {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-close {
	font-size:(15/10)*1rem;
	width:(15/15)*1em;
}
.icon-comments {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.icon-cross {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icon-del {
	font-size:(26/10)*1rem;
	width:(32/26)*1em;
}
.icon-doc {
	font-size:(32/10)*1rem;
	width:(23/32)*1em;
}
.icon-dog {
	font-size:(40/10)*1rem;
	width:(40/40)*1em;
}
.icon-down {
	font-size:(9/10)*1rem;
	width:(14/9)*1em;
}
.icon-exit {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-fb {
	font-size:(22/10)*1rem;
	width:(12/22)*1em;
}
.icon-first-aid {
	font-size:(40/10)*1rem;
	width:(40/40)*1em;
}
.icon-fish {
	font-size:(40/10)*1rem;
	width:(40/40)*1em;
}
.icon-google {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-hamster {
	font-size:(40/10)*1rem;
	width:(40/40)*1em;
}
.icon-heart {
	font-size:(30/10)*1rem;
	width:(30/30)*1em;
}
.icon-heart-color {
	font-size:(23/10)*1rem;
	width:(25/23)*1em;
}
.icon-hesrts-active {
	font-size:(11/10)*1rem;
	width:(13/11)*1em;
}
.icon-hz {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.icon-insta {
	font-size:(18/10)*1rem;
	width:(18/18)*1em;
}
.icon-left {
	font-size:(14/10)*1rem;
	width:(9/14)*1em;
}
.icon-loader {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-maestro {
	font-size:(24/10)*1rem;
	width:(31/24)*1em;
}
.icon-mail {
	font-size:(15/10)*1rem;
	width:(15/15)*1em;
}
.icon-map {
	font-size:(19/10)*1rem;
	width:(19/19)*1em;
}
.icon-marker {
	font-size:(15/10)*1rem;
	width:(15/15)*1em;
}
.icon-mastercard {
	font-size:(24/10)*1rem;
	width:(31/24)*1em;
}
.icon-mir {
	font-size:(16/10)*1rem;
	width:(55/16)*1em;
}
.icon-nex {
	font-size:(12/10)*1rem;
	width:(12/12)*1em;
}
.icon-notification {
	font-size:(20/10)*1rem;
	width:(18/20)*1em;
}
.icon-paw {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.icon-phone {
	font-size:(15/10)*1rem;
	width:(15/15)*1em;
}
.icon-play {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-plus {
	font-size:(13/10)*1rem;
	width:(13/13)*1em;
}
.icon-plus-outline {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icon-right {
	font-size:(14/10)*1rem;
	width:(9/14)*1em;
}
.icon-sale {
	font-size:(25/10)*1rem;
	width:(25/25)*1em;
}
.icon-search {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-share {
	font-size:(25/10)*1rem;
	width:(25/25)*1em;
}
.icon-shield {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.icon-stethoscope {
	font-size:(40/10)*1rem;
	width:(40/40)*1em;
}
.icon-top {
	font-size:(9/10)*1rem;
	width:(14/9)*1em;
}
.icon-trace {
	font-size:(15/10)*1rem;
	width:(17/15)*1em;
}
.icon-twitter {
	font-size:(19/10)*1rem;
	width:(24/19)*1em;
}
.icon-user {
	font-size:(30/10)*1rem;
	width:(30/30)*1em;
}
.icon-user-2 {
	font-size:(34/10)*1rem;
	width:(34/34)*1em;
}
.icon-visa {
	font-size:(17/10)*1rem;
	width:(54/17)*1em;
}
.icon-vk {
	font-size:(14/10)*1rem;
	width:(24/14)*1em;
}
.icon-webest {
	font-size:(19/10)*1rem;
	width:(98/19)*1em;
}
.icon-youtube {
	font-size:(16/10)*1rem;
	width:(23/16)*1em;
}
