.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}


#SVG_container{
	position: absolute;
	height: 0;
	width: 0;
}

#SVG_container svg{
	position: absolute;
	width: 0;
	height: 0;
}

.icon-1 {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-10 {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-11 {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-12 {
	font-size:(81/10)*1rem;
	width:(75/81)*1em;
}
.icon-13 {
	font-size:(81/10)*1rem;
	width:(69/81)*1em;
}
.icon-14 {
	font-size:(81/10)*1rem;
	width:(91/81)*1em;
}
.icon-15 {
	font-size:(81/10)*1rem;
	width:(82/81)*1em;
}
.icon-16 {
	font-size:(81/10)*1rem;
	width:(73/81)*1em;
}
.icon-17 {
	font-size:(81/10)*1rem;
	width:(57/81)*1em;
}
.icon-18 {
	font-size:(81/10)*1rem;
	width:(54/81)*1em;
}
.icon-19 {
	font-size:(81/10)*1rem;
	width:(80/81)*1em;
}
.icon-2 {
	font-size:(21/10)*1rem;
	width:(19/21)*1em;
}
.icon-20 {
	font-size:(81/10)*1rem;
	width:(73/81)*1em;
}
.icon-21 {
	font-size:(17/10)*1rem;
	width:(14/17)*1em;
}
.icon-22 {
	font-size:(17/10)*1rem;
	width:(17/17)*1em;
}
.icon-23 {
	font-size:(12/10)*1rem;
	width:(17/12)*1em;
}
.icon-24 {
	font-size:(12/10)*1rem;
	width:(16/12)*1em;
}
.icon-25 {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-26 {
	font-size:(9/10)*1rem;
	width:(11/9)*1em;
}
.icon-27 {
	font-size:(13/10)*1rem;
	width:(14/13)*1em;
}
.icon-28 {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-29 {
	font-size:(12/10)*1rem;
	width:(8/12)*1em;
}
.icon-3 {
	font-size:(16/10)*1rem;
	width:(25/16)*1em;
}
.icon-30 {
	font-size:(12/10)*1rem;
	width:(8/12)*1em;
}
.icon-31 {
	font-size:(10/10)*1rem;
	width:(6/10)*1em;
}
.icon-32 {
	font-size:(10/10)*1rem;
	width:(6/10)*1em;
}
.icon-33 {
	font-size:(8/10)*1rem;
	width:(12/8)*1em;
}
.icon-34 {
	font-size:(8/10)*1rem;
	width:(12/8)*1em;
}
.icon-35 {
	font-size:(9/10)*1rem;
	width:(12/9)*1em;
}
.icon-36 {
	font-size:(14/10)*1rem;
	width:(14/14)*1em;
}
.icon-37 {
	font-size:(15/10)*1rem;
	width:(15/15)*1em;
}
.icon-38 {
	font-size:(22/10)*1rem;
	width:(90/22)*1em;
}
.icon-39 {
	font-size:(61/10)*1rem;
	width:(59/61)*1em;
}
.icon-4 {
	font-size:(22/10)*1rem;
	width:(25/22)*1em;
}
.icon-40 {
	font-size:(65/10)*1rem;
	width:(65/65)*1em;
}
.icon-41 {
	font-size:(64/10)*1rem;
	width:(57/64)*1em;
}
.icon-42 {
	font-size:(58/10)*1rem;
	width:(58/58)*1em;
}
.icon-43 {
	font-size:(30/10)*1rem;
	width:(24/30)*1em;
}
.icon-44 {
	font-size:(81/10)*1rem;
	width:(47/81)*1em;
}
.icon-45 {
	font-size:(21/10)*1rem;
	width:(13/21)*1em;
}
.icon-47 {
	font-size:(81/10)*1rem;
	width:(73/81)*1em;
}
.icon-5 {
	font-size:(21/10)*1rem;
	width:(21/21)*1em;
}
.icon-6 {
	font-size:(22/10)*1rem;
	width:(17/22)*1em;
}
.icon-7 {
	font-size:(25/10)*1rem;
	width:(18/25)*1em;
}
.icon-8 {
	font-size:(19/10)*1rem;
	width:(25/19)*1em;
}
.icon-9 {
	font-size:(21/10)*1rem;
	width:(20/21)*1em;
}
.icon-discount {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-wb-facebook {
	font-size:(20/10)*1rem;
	width:(10/20)*1em;
}
.icon-wb-google+ {
	font-size:(18/10)*1rem;
	width:(28/18)*1em;
}
.icon-wb-instagram {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-wb-vk {
	font-size:(14/10)*1rem;
	width:(24/14)*1em;
}
