.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}


#SVG_container{
	position: absolute;
	height: 0;
	width: 0;
}

#SVG_container svg{
	position: absolute;
	height: 0;
	width: 0;
}

.icon-1 {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-404 {
	font-size:(90/10)*1rem;
	width:(90/90)*1em;
}
.icon-arrow-d {
	font-size:(5/10)*1rem;
	width:(8/5)*1em;
}
.icon-arrow-l {
	font-size:(490.79/10)*1rem;
	width:(490.79/490.79)*1em;
}
.icon-arrow-r {
	font-size:(490.8/10)*1rem;
	width:(490.8/490.8)*1em;
}
.icon-backpack {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.icon-bags {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.icon-basket {
	font-size:(20/10)*1rem;
	width:(21/20)*1em;
}
.icon-basket-1 {
	font-size:(90/10)*1rem;
	width:(90/90)*1em;
}
.icon-bear {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.icon-box {
	font-size:(16/10)*1rem;
	width:(15/16)*1em;
}
.icon-box-1 {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.icon-box-2 {
	font-size:(18/10)*1rem;
	width:(16/18)*1em;
}
.icon-box2 {
	font-size:(49/10)*1rem;
	width:(53/49)*1em;
}
.icon-box3 {
	font-size:(41/10)*1rem;
	width:(45/41)*1em;
}
.icon-catalogue {
	font-size:(17/10)*1rem;
	width:(17/17)*1em;
}
.icon-check {
	font-size:(556/10)*1rem;
	width:(556/556)*1em;
}
.icon-close {
	font-size:(15/10)*1rem;
	width:(15/15)*1em;
}
.icon-copy {
	font-size:(24/10)*1rem;
	width:(20/24)*1em;
}
.icon-cosmetic {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.icon-creams {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.icon-cup {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.icon-delite {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-delivery {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-dish {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.icon-drink {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.icon-game {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.icon-gift {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.icon-hearts {
	font-size:(36/10)*1rem;
	width:(50/36)*1em;
}
.icon-home {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.icon-home-2 {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.icon-instagram {
	font-size:(30/10)*1rem;
	width:(30/30)*1em;
}
.icon-jelly-beans {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.icon-left {
	font-size:(12/10)*1rem;
	width:(8/12)*1em;
}
.icon-like {
	font-size:(19/10)*1rem;
	width:(21/19)*1em;
}
.icon-like-2 {
	font-size:(15/10)*1rem;
	width:(17/15)*1em;
}
.icon-loader {
	font-size:(16/10)*1rem;
	width:(18/16)*1em;
}
.icon-lollipop {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.icon-macaroon {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.icon-maestro {
	font-size:(30/10)*1rem;
	width:(39/30)*1em;
}
.icon-map {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-map-pin {
	font-size:(18/10)*1rem;
	width:(18/18)*1em;
}
.icon-mastercard {
	font-size:(30/10)*1rem;
	width:(40/30)*1em;
}
.icon-menu {
	font-size:(20/10)*1rem;
	width:(22/20)*1em;
}
.icon-minus {
	font-size:(124/10)*1rem;
	width:(124/124)*1em;
}
.icon-mir {
	font-size:(15/10)*1rem;
	width:(52/15)*1em;
}
.icon-mug {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.icon-notebook {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.icon-ok {
	font-size:(90/10)*1rem;
	width:(90/90)*1em;
}
.icon-pens {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.icon-photo {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.icon-plus {
	font-size:(448/10)*1rem;
	width:(448/448)*1em;
}
.icon-rainbow {
	font-size:(36/10)*1rem;
	width:(36/36)*1em;
}
.icon-recovery {
	font-size:(24/10)*1rem;
	width:(21/24)*1em;
}
.icon-refresh {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-right {
	font-size:(12/10)*1rem;
	width:(8/12)*1em;
}
.icon-sale {
	font-size:(45/10)*1rem;
	width:(38/45)*1em;
}
.icon-search {
	font-size:(56.97/10)*1rem;
	width:(56.97/56.97)*1em;
}
.icon-socks {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.icon-socks-1 {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.icon-subtract {
	font-size:(12/10)*1rem;
	width:(12/12)*1em;
}
.icon-sweets {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.icon-sweets-1 {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.icon-time {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-toffee {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.icon-toys {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.icon-travel {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.icon-user {
	font-size:(21/10)*1rem;
	width:(19/21)*1em;
}
.icon-viber {
	font-size:(31/10)*1rem;
	width:(29/31)*1em;
}
.icon-visa {
	font-size:(15/10)*1rem;
	width:(48/15)*1em;
}
.icon-vk {
	font-size:(30/10)*1rem;
	width:(30/30)*1em;
}
.icon-wathsap {
	font-size:(29/10)*1rem;
	width:(29/29)*1em;
}
.icon-waving-hand {
	font-size:(90/10)*1rem;
	width:(90/90)*1em;
}
.icon-webest {
	font-size:(19/10)*1rem;
	width:(98/19)*1em;
}
