.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}


#SVG_container{
	position: absolute;
	height: 0;
	width: 0;
}

#SVG_container svg{
	position: absolute;
	height: 0;
	width: 0;
}

.icon-aestro {
	font-size:(24/10)*1rem;
	width:(31/24)*1em;
}
.icon-arrow-2 {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.icon-bag {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icon-call {
	font-size:(20/10)*1rem;
	width:(18/20)*1em;
}
.icon-cart {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-chart {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icon-checkmark {
	font-size:(7/10)*1rem;
	width:(9/7)*1em;
}
.icon-close {
	font-size:(15/10)*1rem;
	width:(15/15)*1em;
}
.icon-doc {
	font-size:(58/10)*1rem;
	width:(58/58)*1em;
}
.icon-doc-2 {
	font-size:(50/10)*1rem;
	width:(38/50)*1em;
}
.icon-down {
	font-size:(8/10)*1rem;
	width:(14/8)*1em;
}
.icon-down-next {
	font-size:(8/10)*1rem;
	width:(12/8)*1em;
}
.icon-eye {
	font-size:(18/10)*1rem;
	width:(18/18)*1em;
}
.icon-facebook {
	font-size:(22/10)*1rem;
	width:(12/22)*1em;
}
.icon-facebook-2 {
	font-size:(30/10)*1rem;
	width:(30/30)*1em;
}
.icon-go {
	font-size:(24/10)*1rem;
	width:(28/24)*1em;
}
.icon-heart {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icon-heart-2 {
	font-size:(18/10)*1rem;
	width:(20/18)*1em;
}
.icon-instagram {
	font-size:(18/10)*1rem;
	width:(18/18)*1em;
}
.icon-loader {
	font-size:(30/10)*1rem;
	width:(30/30)*1em;
}
.icon-maest-2 {
	font-size:(24/10)*1rem;
	width:(31/24)*1em;
}
.icon-mail {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-marker {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-mast-2 {
	font-size:(24/10)*1rem;
	width:(31/24)*1em;
}
.icon-mastercard {
	font-size:(24/10)*1rem;
	width:(31/24)*1em;
}
.icon-menu {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-minus {
	font-size:(2/10)*1rem;
	width:(12/2)*1em;
}
.icon-mir {
	font-size:(12/10)*1rem;
	width:(41/12)*1em;
}
.icon-next {
	font-size:(12/10)*1rem;
	width:(12/12)*1em;
}
.icon-pause {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-paw {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.icon-pdf {
	font-size:(58/10)*1rem;
	width:(58/58)*1em;
}
.icon-phone {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-play {
	font-size:(20/10)*1rem;
	width:(17/20)*1em;
}
.icon-plus {
	font-size:(13/10)*1rem;
	width:(13/13)*1em;
}
.icon-plus-square {
	font-size:(30/10)*1rem;
	width:(30/30)*1em;
}
.icon-prev {
	font-size:(12/10)*1rem;
	width:(12/12)*1em;
}
.icon-rate {
	font-size:(13/10)*1rem;
	width:(15/13)*1em;
}
.icon-right {
	font-size:(14/10)*1rem;
	width:(8/14)*1em;
}
.icon-sale {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-search {
	font-size:(18/10)*1rem;
	width:(18/18)*1em;
}
.icon-share {
	font-size:(25/10)*1rem;
	width:(25/25)*1em;
}
.icon-shield {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.icon-tooltip {
	font-size:(14/10)*1rem;
	width:(4/14)*1em;
}
.icon-truck {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.icon-twitter {
	font-size:(19/10)*1rem;
	width:(24/19)*1em;
}
.icon-up-prev {
	font-size:(8/10)*1rem;
	width:(12/8)*1em;
}
.icon-user {
	font-size:(21/10)*1rem;
	width:(21/21)*1em;
}
.icon-visa {
	font-size:(12/10)*1rem;
	width:(38/12)*1em;
}
.icon-vk {
	font-size:(14/10)*1rem;
	width:(24/14)*1em;
}
.icon-vk-2 {
	font-size:(30/10)*1rem;
	width:(30/30)*1em;
}
.icon-webest {
	font-size:(19/10)*1rem;
	width:(98/19)*1em;
}
.icon-youtube {
	font-size:(16/10)*1rem;
	width:(23/16)*1em;
}
