/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env

/node_modules

/public/files
/public/storage
/public/images
/public/IMAGE BACKUP
/public/images_sitemap.xml
/public/api/cookie.txt

/public/img/new-icon
/public/img/old-icons
/public/img/**/*.optipic-orig

/public/css
/public/js/backup
/public/js/old-js

/public/google*.html
/public/yandex*.html
/public/cmsmagazine*.txt

/storage/*.key
/storage/app
/storage/debugbar
/storage/framework
/storage/logs
